<!DOCTYPE html>
<html>
<head>
  <title>RedisBucket</title>
  <%= stylesheet_link_tag    "redis_bucket/application", media: "all" %>
  <%= javascript_include_tag "redis_bucket/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
